h1 {
    text-align: center;
}

.topnav {
    display: flex;
    gap: 30px;
}

.btn {
    font-size: 25px;
}


.topnav form {
    display: flex;
    gap: 30px
}

.dropdown {
    position: relative;
}

.dropbtn {
    font: inherit;
    cursor: pointer;
    align-self: center;
    font-size: 25px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    font-size: 15px;
   
}

.dropdown-content input[type="checkbox"] {
    width: 22px;
    height: 22px;
}

.dropdown-content label {
    display: block;
    padding-bottom: 20px;

}

.dropdown:hover .dropdown-content {
    display: block;
}