img {
    width: 250px;
    height: 150px;
    border-radius: 10px;
  border: 2px solid black;
  
}

img:hover {
    cursor: pointer;
   box-shadow: 0 0 2px 1px grey;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}

p {
   padding: 0px 40px 20px 40px; 
}
