<html>
    <head>
        <title>{{.Manufacturer.Name}}</title>
        <link rel="stylesheet" href="/static/base.css">
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>
        <h1>{{.Manufacturer.Name}}</h1>  
        <div class="grid">
        {{range .Cars}}
        <div>
            <a href="/car/{{.ID}}">
                <img src="http://localhost:3000/api/images/{{.Image}}">
             </a>
             <p>{{.Name}}</p>
        </div>
       
        {{end}}
        </div>
        <a href="/">back to main page</a>
    </body>
</html>  